@import '_vars';

.input-file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 150px;
  min-height: 85px;
  font-size: 24px;
  background-color: $color-gray-light;
  border-radius: 5px;
  cursor: pointer;
}

.input-file-field {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}
