@import '_vars';
@import '_mixins';

#q-app {
  height: 100vh;
  .q-layout {
    height: 100%;
  }
  .q-page-container {
    max-height: 100%;
    overflow: auto;
  }
  .q-page {
    min-height: 0 !important;
  }
}

.input-file-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 150px;
  min-height: 85px;
  font-size: 24px;
  background-color: $color-gray-light;
  border-radius: 5px;
  cursor: pointer;
}

.input-file-field {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.default-car-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    @include image_center;
  }
}

.action-favBtn {
  font-size: 1.25rem;
  color: $color-red;
  &:hover {
    opacity: 0.7;
  }
}
