$color-gray: #8d92a0;
$color-gray-light: #e5e6ed;
$color-gray-dark: #212121;
$color-blue: #1976d2;
$color-blue--hover: rgba(#1976d2, 0.6);
$color-blue-dark: #0d4d8d;
$color-border: #d2ddf0;
$color-hover: #e8ebf3;
$color-yellow: #f4db03;
$color-white: #fff;
$color-black: #000;
$color-red: #eb382b;

$main-border-raius: 5px;
